<div style="display: flex">
  <div id="dvInicio">
    <h2 class="text-center">TML - Agencia de publicidad TML S.A.</h2>
    <br/>
    <p class="parrafo">
      Contamos con una amplia gama de servicios que ofrecemos a nuestro
      clientes, adaptándose a las necesidades y objetivos de cada empresa.
      Ofrecemos servicios como los que se relacionados con la creatividad, el
      diseño, el video, la publicidad y cualquier estrategia relacionada con
      la difusión masiva de la información.
    </p>
<br/>
    <div id="dvContenido">
      <div class="dvMision">
        <h3>Misión</h3>
        <div>
        <p>
          Apelar a los valores de los consumidores, comunicar fielmente la realidad de marca
           y el producto para fidelizar de por vida a todos los clientes de la marca en acciones como campañas,
          dinámicas en redes sociales, diseño web, diseños de logotipos, etc.
        </p>
      </div>
        <div class="dvImagen" style="width: 100%">
          <img id="img1" src="../assets/img/gente.jpg" alt="imagen1" style="width: 100%" />
        </div>
      </div>
      <div class="dvMision">
        <h3>Visión</h3>
        <div>
        <p>Para 2023 ser la empresa mas reconocida en publicidad de marcas.</p>
      </div>
      <div class="dvImagen" style="width: 100%">
        <img id="img1" src="../assets/img/marketing-btl.jpg" alt="imagen1" style="width: 100%" />
      </div>

      </div>
    </div>

    <!-- <div class="dvImagen" style="width: 60%">
      <img id="img1" src="../assets/img/gente.jpg" alt="imagen1" style="width: 100%" />
    </div> -->

  </div>
  <div style="width: 25%">
    <app-aside></app-aside>
  </div>

</div>
