<div style="display: flex">
  <div id="dvTestimonios">
    <h2>Testimonios</h2>
    <br />
    <div>
      <p>
        La satisfación de nuestros clientes es notable, nos esmeramos en
        entregar un servicio de calidad y ellos lo reconocen:
      </p>
    </div>

    <div id="dvVideo">
      <div>
      <youtube-player
        videoId="dWzjtGet1fg"
        suggestedQuality="highres"
        [height]="250"
        [width]="500"
        [startSeconds]="5"
        [endSeconds]="39">
      </youtube-player>
    </div>
    </div>
    <br/>
    <br/>
    <h5 style="text-align: center;">Algunos de nuestros clientes:</h5>
    <div>
      <img src="../assets/img/Logos.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>

</div>

  <div style="width: 25%">
    <app-aside></app-aside>
  </div>
</div>
