<div id="dvAside">
    <div class="row m-0 vh-100">
      <br/>
      <br/>
       <ul class="nav flex-column">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li> -->
        <h4 style="text-align: center;">Nuestros socios</h4>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienessomos">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/testimonios">Testimonios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos">Contactanos</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="https://www.wk.com" target="_blank">Wieden + Kennedy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://droga5.com" target="_blank">Drog 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.grey.com" target="_blank">Grey Agency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.mccannworldgroup.com" target="_blank">McCann WorldGroup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ddb.com" target="_blank">DDB Worldwide</a>
        </li>

      </ul>
  </div>
</div>
