<div style="display: flex">
  <div id="dvServicios">
    <h2>Nuestros servicios</h2>
    <br/>
    <br/>
    <div style="display: flex; justify-content: space-between;">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/Servicios-de-producción.png" alt=" prod">
        <div class="card-body">
          <h4>Producción</h4>
          <p class="card-text pCard">Nos encargamos de la producción de material,
            la producción audiovisual, la impresión y la producción digital.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/Departamentos-768x403.png" alt=" prod">
          <div class="card-body">
            <h4>Creatividad</h4>
            <p class="card-text pCard">Contribuimos con generación de sus ideas y la creatividad,
               la dirección de arte, la redacción de textos publicitarios y la creación de conceptos.</p>
          </div>
       </div>

       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/publicitario768x403.png" alt=" prod">
          <div class="card-body">
            <h4>Publicitarios</h4>
            <p class="card-text pCard">Nos encargamos de la planificación y la gestión, como la compra de medios,
               el análisis de campañas o el asesoramiento sobre presupuestos publicitarios.</p>
          </div>
       </div>
      </div>
<br/>

  </div>

  <div style="width: 25%">
    <app-aside></app-aside>
  </div>
</div>
