<div style="display: flex">
  <div id="dvQuienesSomos">
    <h2>Quienes Somos</h2>
<br/>
    <div style="display: flex; justify-content: center">

      <div class="dvImagen" style="width: 60%">
        <img id="img1" src="../assets/img/Imagen1.jpeg" alt="imagen1" style="width: 100%" />
      </div>

      <div class="dvTexto1" style="width: 40%;">
        <p class="parrafo">
          Somos una empresa que presta servicios de creación, planificación y
          gestión de la publicidad para sus clientes. Nuestro objetivo es
          promover la venta de productos o servicios a través de diferentes
          estrategias de comunicación, usando la creatividad y la disrupción
          para lograrlo.
        </p>
 <!-- <p class="parrafo">
        Contamos con una amplia gama de servicios que ofrecemos a nuestro
        clientes, adaptándose a las necesidades y objetivos de cada empresa.
        Ofrecemos servicios como los que se relacionados con la creatividad, el
        diseño, el video, la publicidad y cualquier estrategia relacionada con
        la difusión masiva de la información.
      </p> -->
      </div>
    </div>
  <br/>
    <div class="dvTexto2">
      <p class="parrafo">
        Llevamos 20 años de experiencia en el sector de la publicidad y el mercadeo, iniciamos con un pequeño
        almacén que ofrecía estampaciones imágenes, con el paso del tiempo hemos logrado expandir nuestro objetivo
        hasta que al momento tenemos presencia física en 10 municipios de Colombia y despachamos a cualquier parte del país por
        medio de ventas digitales. Tenemos planes de expansión a otras 5 ciudades, siempre comprometidos con la publicidad de las marcas y satisfacción de nuestros clientes.
      </p>
    </div>

    <div>
      <!-- <img id="img1" src="../assets/img/gente.jpg" alt="imagen2" style="width: 100%;" /> -->
    </div>
  </div>
  <div style="width: 25%">
    <app-aside></app-aside>
  </div>
</div>
